
$background: #eee;
$main: #4dd0e1;

.App {
  font-family: 'M PLUS 1p', sans-serif;
  color: #555;
  overflow: hidden;

  .TutorialWrapper {
    display: none;
  }

  .Book {
    background-color: $background;
    box-sizing: border-box;
    display: flex;
    //flex-direction: row-reverse;
    height: 80vh;
    justify-content: center;
    text-orientation: upright;
    user-select: none;
    width: 100vw;

    ul{
      list-style: none;
      padding: 10px 0 0 0;
      li{
        padding: 10px 0 0 0;
      }
    }

    .LeftPage {
      background-color: #fff;
      box-sizing: border-box;
      flex-grow: 1;
      max-width: 40%;
      padding: 0 0 0 20px;
      // writing-mode: vertical-rl;
    }

    .RightPage {
      background-color: #fff;
      box-sizing: border-box;
      flex-grow: 1;
      max-width: 40%;
      padding: 0 20px 0 0;
      // writing-mode: vertical-rl;
    }

    //ここから各ページのcss
    .Padding {
      box-sizing: border-box;
      //padding: 50px;
      width: 100%;
    }

    .Horizontal {
      //text-orientation: mixed;
      writing-mode: horizontal-tb;
    }

    .TitleSection {
      //border: solid 1px #555;
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
      overflow-wrap: break-word;
      text-align: center;
    }

    .Circle{
      border: solid 3px #aaa;
      border-radius: 50% 50%;
      height: auto;
      padding: 40px 10px 10px 10px;
      width: auto;

      .CircleText{
        display: block;
        height: 100%;
        margin: 0;
        width: auto;
      }
    }

    //.Flame {
    //  border: solid 1px #aaa;
    //  box-sizing: border-box;
    //}

    .Flex {
      display: flex;
    }

    .Page0 {
      background-color: $background;
      height: 100%;
      width: 100%;
    }

    .Page99 {
      background-color: $background;
      height: 100%;
      width: 100%;
    }

    //各ページのcss終わり
    .Bookmark {
      background-color: #4b9;
      //height: 300px;
      //left: 100px;
      //position: absolute;
      transition: .2s;
      //top: 20px;
      width: 100px;
      z-index: 1;
    }

    .Bookmark:hover {
      transform: translateY(-10px);
    }

    .NextpageButton, .PreviouspageButton {
      display: none;
      //background-color: rgba(88, 88, 88, .5);
      height: 80vh;
      left: 0;
      position: absolute;
      top: 64px;
      width: 50vw;
      z-index: 100;
    }

    .NextpageButton {
      //background-color: rgba(88, 88, 9, .5);
      left: unset;
      right: 0;
    }
  }

  //ページ送りとかするバー
  .BottomMenubar {
    background-color: #555;
    bottom: 0;
    color: #fff;
    font-size: 2rem;
    height: 5vh;
    text-align: center;
    width: 100vw;

    .InputRange[type=range] {
      appearance: none;
      background-color: #aaa;
      border-radius: 6px;
      height: 1px;
      margin: 0 0 5px 0;
      -webkit-appearance: none;
      width: 10vw;
      z-index: 10;

      &:focus,
      &:active {
        outline: none;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        position: relative;
        border: 2px solid rgba(0, 0, 0, .7);
        width: 15px;
        height: 15px;
        display: block;
        background-color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
      }

      &:active::-webkit-slider-thumb {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
        transition: .4s;
      }
    }
  }
}
@media screen and (max-width:800px) {
  .App {
    font-size: 0.5rem;
    position: relative;

    .TutorialWrapper {
      background-color: rgba(0, 0, 0, .5);
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;

      .Tutorial {
        background-color: #555;
        color: #fff;
        display: block;
        height: 50%;
        left: 5%;
        position: absolute;
        text-align: center;
        top: 25%;
        width: 90%;

        p {
          font-size: 1.5rem;
          margin: auto 0;

          .Swipe {
            animation-delay: .2s;
            animation-duration: 2s;
            animation-name: SwipeAnimation;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
          }
        }

        @keyframes SwipeAnimation {
          0% {
            transform: rotate(45deg);
          }
          50% {
            transform: rotate(-45deg);
          }
          100% {
            transform: rotate(45deg);
          }
        }
      }
    }

    .Book {

      .RightPage {
        display: none;
      }

      .LeftPage {
        border: none;
        border-radius: 0;
        padding: 0;
        max-width: 100%;
      }

      .Padding {
        padding: 0;
      }

      .NextpageButton, .PreviouspageButton {
        display: unset;
      }

      .TitleSection {
        border: solid 1px #555;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        overflow-wrap: break-word;
        width: 100%;
      }
    }

    .BottomMenubar {
      height: 10vh;

      .InputRange[type=range] {
        margin: 0;
        //-webkit-appearance: none;
        width: 30vw;
        vertical-align: center;
        //z-index: 10;

        &:focus,
        &:active {
          outline: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;
          position: relative;
          border: 2px solid rgba(0, 0, 0, .7);
          width: 15px;
          height: 15px;
          display: block;
          background-color: #fff;
          border-radius: 50%;
          -webkit-border-radius: 50%;
        }

        &:active::-webkit-slider-thumb {
          box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
          transition: .4s;
        }
      }
    }
  }
}

.App {
  .MuiTypography-root{
    font-family: 'M PLUS 1p', sans-serif;
  }

  .MuiCard-root {
    height: 100%;
  }
}