.Book{
  display: block;
  box-sizing: border-box;
  height: 100vh;
  padding: 50px 50px calc(50px + 5vh) 50px;
  text-orientation: upright;
  width: 100vw;
  writing-mode: vertical-rl;
  .LeftPage{
    background-color: #fff;
    border: solid 1px #555;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 10px 0 0 #ddd;
    box-sizing: border-box;
    width: 50%;
    z-index: 10;
  }
  .RightPage{
    background-color: #fff;
    border: solid 1px #555;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 10px 0 0 #ddd;
    box-sizing: border-box;
    width: 50%;
    z-index: 11;
  }
  //ここから各ページのcss
  .Padding{
    padding: 50px;
  }
  .Page0{
    background-color: #555;
    height: 100%;
    width: 100%;
  }
  .Page1{

  }
  .Page3{
  }
  .Page99{
    background-color: #555;
    height: 100%;
    width: 100%;
  }
  //各ページのcss終わり
  .Bookmark{
    //background-color: lightblue;
    //height: 300px;
    //left: 100px;
    //position: absolute;
    //transition: .2s;
    //top: 20px;
    //width: 100px;
    //z-index: 1;
  }

  .Bookmark:hover{
    //transform: translateY(-10px);
  }

  .NextpageButton, .PreviouspageButton{
    background-color: #555;
    bottom: 25%;
    display: block;
    height: 50vh;
    opacity: .5;
    top: 25%;
    position: absolute;
    transition: .2s;
    width: 30px;
  }

  .PreviouspageButton{
    right: 50px;
  }

  .NextpageButton:hover, .PreviouspageButton:hover{
    transform: scale(1.01);
  }
}
.BottomMenubar{
  background-color: #555;
  bottom: 0;
  color: #fff;
  font-size: 2rem;
  height: 5vh;
  position: fixed;
  text-align: center;
  width: 100vw;
  .InputRange[type=range]{
    appearance: none;
    background-color: #fff;
    border-radius: 6px;
    height: 5px;
    transform: rotate(180deg);
    -webkit-appearance: none;
    width: 50vw;
    z-index: 10;

    &:focus,
    &:active {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      position: relative;
      border: 2px solid rgba(0, 0, 0, .7);
      width: 22px;
      height: 22px;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
    }

    &:active::-webkit-slider-thumb {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, .6);
      transition: .4s;
    }
  }
}

@media screen and (max-width:1024px) {
  .Book{
    padding: 0;
    .RightPage{
      display: none;
    }
    .LeftPage{
      border: none;
      border-radius: 0;
      width: 100%;
    }
    .NextpageButton, .PreviouspageButton{
      display: none;
    }
  }
}